a {
    color: #F42;
    text-decoration: none;
}

.main-content {
  padding: 6em 0;
  background-color: #ECECEC;
  text-align: center;

  h1, h4 {
    color: #777;

    span {
      color: #F42;
    }
  }

  h3 {
    font-size: 30px;
    display: inline;
    margin-right: 0.6em;
  }

  h5 {
    color: #777;
  }

  .label {
    margin: 0 5px;

    ul {
      list-style: none;
      margin: 20px 0;

      li {
        display: inline-block;
        margin: 0 6px;
      }
    }
  }

  .label-default {
    // background-color: rgba(255, 68, 34, 0.68);
  }

  .commom-labels {
    ul {
      li {
        font-size: 28px;
      }
    }
  }

  .random-labels {
    ul {
      li {
        font-size: 22px;
      }
    }
  }
}


.tags-form {
    margin-top: 3em;

    input {
      background-color: #fff!important;
      padding: 1.5em 1em!important;
      font-size: 28px !important;
      box-shadow: none !important;
    }

    textarea, textarea.form-control, input.form-control, input[type=text], input[type=password], input[type=email], input[type=number], [type=text].form-control, [type=password].form-control, [type=email].form-control, [type=tel].form-control, [contenteditable].form-control {
      border-bottom: 8px solid #f42;
    }

    textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

footer {
  margin-top: 3em;

  ul {
    li {
      display: inline-block;
      margin-right: 1em;
    }

    .pull-right {
      margin-right: 0;
    }
  }
}
