{% extends 'attendees/base.html' %}
{% load staticfiles %}

{% block page_title %}NetworkingCool{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="container">
      <div class="col-md-12">
        <h1><b>Networking<span>Cool</span></b></h1>
        <h4>The smarter way to <span>find people</span> to network at <a href="http://thenextweb.com/conference/usa/" target="_blank"><span>TNW Conference</span></a></h4>
        <div class="form-group tags-form">
          <select multiple="multiple" class="form-control" id="focusedInput" placeholder="You want to meet people related to..."></select>
        </div>
        <div class="label common-labels">
          <h5>Most common concepts:</h5>
          <ul>
            {% for l in top_labels %}
              <li><a href="#" class="btn btn-danger label clickable-tag">{{ l.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <div class="label random-labels">
          <h5>Random concepts:</h5>
          <ul>
            {% for l in random_labels %}
              <li><a href="#" class="btn btn-danger label clickable-tag">{{ l.label }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div>
    <form id="todoist">
      <input id="todoist-username" type="text" name="username">
      <input id="todoist-password" type="password" name="password">
      <input type="submit">
    </form>
  </div>

  <div class="result-box container"></div>
{% endblock %}

{% block script %}
  <script>
    $("#focusedInput").select2({
      placeholder: "You want to meet people related to...",
      data: {{all_labels_select2_data|safe}}
    }).on('change', function (e) {
      var tags = $(this).val();
      $.ajax({
        type: 'GET',
        url: "{% url 'attendees-ajax' %}",
        data: {
          'tags': tags.join(',')
        },
        dataType: 'html'
      }).success(function (html) {
        $('.result-box').html(html);
      });
    });

    $('.clickable-tag').on('click', function () {
      var tag = $(this).text();
      var selectedTags = $('#focusedInput').val() || [];
      if (selectedTags.indexOf(tag) === -1) {
        $('<option></option>').
         attr('selected', true).
         text(tag).
         val(tag).
         appendTo($('#focusedInput'));
         $('#focusedInput').trigger('change');
      }
      return false;
    });

    $("#todoist").submit(function(event){
      event.preventDefault();
      var tags = $("#focusedInput").val();
      if (!tags){
        tags = [];
      }
      tags = tags.join(',');

      $.ajax({
        type: 'POST',
        url: "{% url 'send-to-todoist-ajax' %}",
        data: {
          'username': $("#todoist-username").val(),
          'password': $("#todoist-password").val(),
          'tags': tags,
        },
        dataType: 'html'
      });
      return false;
    });
  </script>
{% endblock %}
