{% extends 'attendees/base.html' %}
{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="container">
      <div class="col-md-12">
        <h1><b>Networking<span>Cool</span></b></h1>
        <h4>A easier way to <span>find people</span> with the same interests then you.</h4>
        <div class="form-group tags-form">
          <input class="form-control" id="focusedInput" type="text" placeholder="You want to network with people of...">
        </div>
        <div class="label commom-labels">
          <h5>Most commom tags:</h5>
          <ul>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
          </ul>
        </div>
        <div class="label random-labels">
          <h5>Random tags:</h5>
          <ul>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
            <li><a href="#" class="btn btn-danger disabled label">Blab</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="result-box container">
    <div class="col-md-12">
          <div class="result-text">
            <h5 class="pull-left">About 300 results with: <b>bla, bla, bla</b></h5>
            <a class="pull-right button-todoist">Export to <b>todoist</b></a>
          </div>
          <div class="media col-md-6">
            <div class="media-left">
              <img class="media-object" data-src="holder.js/64x64" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYDAAAAJDdmYTVlZDYyLWFmNDgtNDcyZC1iNDhkLWJlZjQ3YWMyNjZhNw.jpg">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rafael Silva <b>(El Pescador)</b></h4>
              <ul>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab </span></li>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab BlabBlabBlabBlab Blab</span></li>
              </ul>
              <a href="#" class="btn btn-primary linkedin">Go to Linkedin</a>
            </div>
          </div>
          <div class="media col-md-6">
            <div class="media-left">
              <img class="media-object" data-src="holder.js/64x64" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYDAAAAJDdmYTVlZDYyLWFmNDgtNDcyZC1iNDhkLWJlZjQ3YWMyNjZhNw.jpg">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rafael Silva <b>(El Pescador)</b></h4>
              <ul>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
              </ul>
              <a href="#" class="btn btn-primary linkedin">Go to Linkedin</a>
            </div>
          </div>
          <div class="media col-md-6">
            <div class="media-left">
              <img class="media-object" data-src="holder.js/64x64" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAYDAAAAJDdmYTVlZDYyLWFmNDgtNDcyZC1iNDhkLWJlZjQ3YWMyNjZhNw.jpg">
            </div>
            <div class="media-body">
              <h4 class="media-heading">Rafael Silva <b>(El Pescador)</b></h4>
              <ul>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab Blab Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab</span></li>
                <li><span>Blab BlabBlabBlabBlab Blab</span></li>
              </ul>
              <a href="#" class="btn btn-primary linkedin">Go to Linkedin</a>
            </div>
          </div>
    </div>
  </div>
{% endblock %}
