{% extends 'attendees/base.html' %}
{% load staticfiles %}

{% block page_title %}Home{% endblock %}

{% block content %}
  <div class="main-content">
    <div class="container">
      <div class="col-md-12">
        <h1><b>Network<span>Rocks</span></b></h1>
        <h4>A easier way to <span>find people</span> with the same interests then you.</h4>
        <div class="form-group tags-form">
          <input class="form-control" id="focusedInput" type="text" placeholder="You want to network with people of...">
        </div>
        <div class="label commom-labels">
          <h5>Most commom tags:</h5>
          <ul>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
          </ul>
        </div>
        <div class="label random-labels">
          <h5>Random tags:</h5>
          <ul>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
            <li><span class="label label-default">Default</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
