a {
  color: #F42;
  text-decoration: none; }

ul {
  list-style: none; }

.main-content {
  padding: 2em 0;
  background-color: #ECECEC;
  text-align: center; }
  .main-content h1, .main-content h4 {
    color: #777; }
    .main-content h1 span, .main-content h4 span {
      color: #F42; }
  @media (max-width: 545px) {
    .main-content h1 {
      word-break: break-all;
      width: 320px;
      margin: auto; } }
  .main-content h3 {
    font-size: 30px;
    display: inline;
    margin-right: 0.6em; }
  .main-content h5 {
    color: #777; }
  .main-content .label {
    white-space: normal;
    -webkit-box-shadow: none;
    box-shadow: none; }
    .main-content .label ul {
      margin: 20px 0; }
      @media (max-width: 545px) {
        .main-content .label ul {
          padding-left: 0; } }
      .main-content .label ul li {
        display: inline-block;
        margin: 0 4px;
        margin-bottom: 20px; }
  .main-content .common-labels ul li {
    font-size: 28px; }
  .main-content .random-labels ul li {
    font-size: 22px; }

.btn-danger {
  background-color: #FF4422; }

.tags-form {
  margin-top: 3em; }
  .tags-form input, .tags-form select {
    min-width: 3.75em;
    background-color: #fff !important;
    padding: 1.5em 1em !important;
    font-size: 28px !important;
    box-shadow: none !important; }
  .tags-form select, .tags-form textarea, .tags-form textarea.form-control, .tags-form input.form-control, .tags-form input[type=text], .tags-form input[type=password], .tags-form input[type=email], .tags-form input[type=number], .tags-form [type=text].form-control, .tags-form [type=password].form-control, .tags-form [type=email].form-control, .tags-form [type=tel].form-control, .tags-form [contenteditable].form-control {
    border-bottom: 8px solid #f42; }
  .tags-form select, .tags-form textarea:focus, .tags-form textarea.form-control:focus, .tags-form input.form-control:focus, .tags-form input[type=text]:focus, .tags-form input[type=password]:focus, .tags-form input[type=email]:focus, .tags-form input[type=number]:focus, .tags-form [type=text].form-control:focus, .tags-form [type=password].form-control:focus, .tags-form [type=email].form-control:focus, .tags-form [type=tel].form-control:focus, .tags-form [contenteditable].form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none; }

.result-box {
  margin-top: 3em; }
  .result-box .button-todoist {
    display: inline-block;
    padding: 10px 16px;
    color: white;
    background-color: #db4c3f;
    border-radius: 3px;
    -webkit-transition: background-color .2s ease-in;
    transition: background-color .2s ease-in;
    cursor: pointer;
    font-size: 15px; }
    .result-box .button-todoist:hover {
      text-decoration: none;
      background-color: #c33224; }
  .result-box .result-text {
    display: inline-block;
    width: 100%;
    border-bottom: solid 2px;
    padding-bottom: 12px;
    margin-bottom: 22px; }
    .result-box .result-text h5 {
      display: inline-block; }
  .result-box ul {
    display: inline-block;
    padding-left: 0;
    font-size: 20px;
    height: 140px;
    overflow: hidden; }
    .result-box ul li {
      float: left;
      margin-right: 3px;
      height: 26px; }
  @media (max-width: 545px) {
    .result-box .media-left {
      width: 100%;
      display: inline-block;
      padding: 0; }
    .result-box img {
      margin: auto;
      margin-bottom: 25px; }
    .result-box .button-todoist {
      width: 100%;
      text-align: center;
      margin: 0.5em 0; }
    .result-box .linkedin {
      margin-top: -15px; } }

.modal-dialog h4 {
  text-align: center;
  margin: 0; }
.modal-dialog img {
  width: 160px; }
.modal-dialog .form-modal {
  margin-top: 1em;
  margin-bottom: 1em; }
  .modal-dialog .form-modal input {
    width: 100%;
    padding: 22px 20px; }
  .modal-dialog .form-modal input:active,
  .modal-dialog .form-modal input:focus,
  .modal-dialog .form-modal input.active {
    background-image: none;
    outline: 0; }

.result-box .media-object {
  display: block;
  width: 200px; }
.result-box .media, .result-box .media-body {
  margin-top: 0;
  margin-bottom: 3em;
  min-height: 310px; }
.result-box .media-left {
  padding-right: 2em; }
.result-box span {
  display: inline;
  background-color: #777;
  padding: .2em .6em .3em;
  font-size: 60%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em; }
.result-box .linkedin {
  width: 100%;
  font-size: 18px;
  padding: 8px 20px;
  margin: 10px 0; }

.select2-selection {
  min-height: 92px !important;
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 8px solid #ff4422 !important; }

.select2-search__field, .select2-search {
  height: 60px;
  float: none !important; }

.select2-selection__rendered {
  text-align: left;
  white-space: normal !important; }

.select2-search__field {
  margin-top: 1px !important; }

.select2-selection__choice {
  display: inline-block;
  float: none !important;
  padding: .3em .6em .4em !important;
  font-size: 130%;
  font-weight: bold;
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  border: none !important;
  text-transform: uppercase;
  background-color: #FF4422 !important; }

.select2-selection__choice__remove {
  color: #fff !important;
  font-size: 16px;
  padding-right: 4px; }

footer {
  margin-top: 3em; }
  footer ul li {
    display: inline-block;
    margin-right: 1em; }
  footer ul .pull-right {
    margin-right: 0; }

/*# sourceMappingURL=style.css.map */
